/bin
/build
Makefile.in
Makefile
.deps/
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure.scan
/depcomp
/stamp-h1
/install-sh
/missing
/test-driver

*.o
