/bin
/build
.deps/
.libs/
Makefile.in
Makefile
cscope*
tags
test-suite.log
check_*.log
check_*.trs

/aclocal.m4
/ar-lib
/autom4te.cache
/autoscan.log
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1
/test-driver

*.o
*.lo
*.la

/tests/*.log
/tests/*.trs

/src/conduit

/src/check_priority_queue
/src/check_blocking_queue
/src/hpack/check_hpack
/src/huffman/check_huffman
/src/huffman/huffman
/src/http/check_request
/src/util/check_util
/src/util/check_multimap
/src/util/check_binary_buffer
/src/util/check_blocking_queue
/src/util/check_priority_queue
/src/util/check_hash_table
/src/util/check_base64url
